.text {
  margin-right: 0.5rem;
}

.ready {
  color: var(--sapPositiveColor);
}

.not-ready {
  color: var(--sapNegativeColor);
}

.deleting {
  color: var(--sapCriticalColor);
}

.large {
  font-size: 1.25rem;
}
