schema:
  - https://gateway.ui.dev-core.mcpd.shoot.canary.k8s-hana.ondemand.com/onboarding/graphql:
      headers:
        Authorization: 'needed to geerate types from graphQL'
documents: './src/**/*.{ts,tsx}'
ignoreNoDocuments: true
extensions:
  codegen:
    generates:
      ./src/types/__generated__/graphql/:
        preset: client
        presetConfig:
          gqlTagName: graphql
