.footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.metadataForm {
  width: 100%;
  max-width: 480px;
}

.infoboxContainer {
  flex: 1;
  padding-left: 2rem;
  padding-top: 0.5rem;
  max-width: 400px;
}
