.wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 44px); /* subtract ShellBar height */
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
