.section {
  margin-block: 1.5rem 3rem;
}

.sectionNoTitle {
  margin-block: 0 0;
}

.actionsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.deprecatedWrapper {
  margin-top: 4px;
}
