.gridRow {
  display: grid;
  grid-template-columns: 15rem auto;
  margin-block: 1rem;
  gap: 16px;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.substituteButtonContainer {
  display: flex;
  align-items: center;
}
