.createButton {
  margin-bottom: 2rem;
}

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @container (width > 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @container (width > 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
