.label {
  background-color: var(--sapObjectHeader_BrandColor);
  color: var(--sapObjectHeader_BrandColorContrast);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
