.label {
  background: var(--sapNeutralColor);
  border: 0;
  color: var(--sapBackgroundColor);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
