.infobox {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem;
}

.icon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--sapBackgroundColor);
  margin-right: 1rem;
}

.content {
  flex-grow: 1;
  padding-right: 0.5rem;
  color: var(--sapBackgroundColor);
}

.full-width {
  width: 100%;
  margin: 1rem 0;
}

.size-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.size-md {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.size-lg {
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
}

.variant-normal {
  background: var(--sapNeutralTextColor);
}

.variant-success {
  background: var(--sapPositiveTextColor);
}

.variant-warning {
  background: var(--sapCriticalTextColor);
}

.variant-danger {
  background: var(--sapErrorTextColor);
}

.content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.content > * {
  color: var(--sapBackgroundColor);
  line-height: 1.2rem;
}

.no-margin {
  margin-bottom: 0;
}
