.infobox {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.icon {
  font-size: 4.5rem;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;

  margin-right: 1rem;
}

.content {
  flex-grow: 1;
  padding-right: 0.5rem;
}

.full-width {
  width: 100%;
  margin: 1rem 0;
}

.size-sm {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}

.size-md {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.size-lg {
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
}

.variant-normal {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.variant-success {
  background: linear-gradient(135deg, #56ab2f, #a8e063);
}

.variant-warning {
  background: linear-gradient(135deg, #ffc837, #ff8008);
}

.variant-danger {
  background: linear-gradient(135deg, #e53935, #e35d5b);
}

.content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.content > * {
  color: #fff;
  line-height: 1.2rem;
}

.dark-mode {
  .content > * {
    color: #000;
  }
  .icon {
    color: #000;
  }
}
