.wrapper {
  width: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8), rgba(0, 0, 2055, 0.2)) border-box;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.wrapper.dark-mode {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2))
    border-box;
}

.infobox {
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
}

.icon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--sapBackgroundColor);
  margin-right: 0.75rem;
}

.content {
  flex-grow: 1;
  padding-right: 0.5rem;
}

.full-width {
  width: 100%;
  margin: 1rem 0;
}

.size-sm {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}

.size-md {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.size-lg {
  padding: 1.5rem 2rem;
  font-size: 1.125rem;
}

.variant-normal {
  background: var(--sapNeutralTextColor);
}

.variant-success {
  background: var(--sapPositiveTextColor);
}

.variant-warning {
  background: var(--sapCriticalTextColor);
}

.variant-danger {
  background: var(--sapErrorTextColor);
}

.content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.content > * {
  color: var(--sapBackgroundColor);
  line-height: 1.2rem;
}
