.infobox {
  display: inline-block;
  border: 1px solid;
  margin: 1rem 0;

  &.size-sm {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }

  &.size-md {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  &.size-lg {
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
  }

  // Variant variations
  &.variant-normal {
    border-color: var(--sapNeutralTextColor);
    background-color: var(--sapNeutralBackground);
    color: var(--sapNeutralTextColor);
  }

  &.variant-success {
    border-color: var(--sapPositiveTextColor);
    background-color: var(--sapPositiveBackground);
    color: var(--sapPositiveTextColor);
  }

  &.variant-warning {
    border-color: var(--sapCriticalTextColor);
    background-color: var(--sapCriticalBackground);
    color: var(--sapCriticalTextColor);
  }

  &.variant-danger {
    border-color: var(--sapNegativeTextColor);
    background-color: var(--sapErrorBackground);
    color: var(--sapNegativeTextColor);
  }
}