.statusPositive {
  color: var(--sapPositiveColor);
}

.statusCritical {
  color: var(--sapCriticalColor);
}

.statusNegative {
  color: var(--sapNegativeColor);
}

.statusNeutral {
  color: var(--sapNeutralColor);
}
