.dialog {
  min-width: 650px;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem 1rem 2rem;
}

.gridColumnLabel {
  align-self: center;
}

.tableContainer {
  padding: 1rem;
}
