.addButton {
  margin-bottom: 3px;
  width: 100%;
}

.wrapper {
  margin-bottom: 1rem;
}

.placeholder {
  min-height: 7.5rem;
  margin-bottom: 1.5rem;
}

.container {
  min-width: 465px;
  max-width: 100%;
}

.input {
  width: 100%;
}

.info {
  margin-top: 0.5rem;
  max-width: 100%;
  text-wrap: wrap;
}

.narrowButton {
  min-width: fit-content;
}
