.addButton {
  margin-bottom: 3px;
}

.wrapper {
  margin-bottom: 1rem;
}

.placeholder {
  min-height: 4rem;
  margin-bottom: 3rem;
}

.container {
  min-width: 40ch;
  max-width: 100%;
}

.input {
  width: 75%;
}
