.formLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}

.column {
  flex: 1;
  min-width: 16rem;
}

.affixRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  width: 100%;
}
