.affixRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  width: 100%;
  margin-bottom: 2rem;
  max-width: 40ch;
}

.wrapper {
  position: relative;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}
