.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.applyButton {
  margin-bottom: 0.5rem;
}

.editorWrapper {
  flex: 1;
  min-height: 0;
}

.validationPanel {
  margin-top: 0.5rem;
}

.validationList {
  margin: 0;
  padding-left: 1.25rem;
  color: var(--sapNegativeColor);
}

.validationListItem {
  list-style: disc;
  font-family: monospace;
}
